@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier New', Courier, monospace;
  @apply bg-primary min-w-[100dvh];
}

.img__hero::before {
  position: absolute;
  content: "";
  display: block;
  right: 0;
  top: 0;
  @apply border-[7px] border-secondary h-full w-[80%] -z-10;
}
